packages:
  yum:
    git: []
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo 'export APP_KEY="UyIXoUsiAzvWrnfZwp1DAC50SQHuH5b2"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export APP_LOG="errorlog"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DEBUG="false"' >> /opt/elasticbeanstalk/support/envvars
