packages:
  yum:
    git: []
files:
  "/etc/php.d/project.ini":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo 'export DB_DRIVER="pgsql"' >> /etc/php.d/support/envars
      echo 'export DB_HOST="postgres"' >> /etc/php.d/support/envars
      echo 'export DB_PORT="5432"' >> /etc/php.d/support/envars
      echo 'export DB_DATABASE="postgres"' >> /etc/php.d/support/envars
      echo 'export DB_USERNAME="postgres"' >> /etc/php.d/support/envars
      echo 'export DB_PASSWORD="postgres"' >> /etc/php.d/support/envars
      echo 'export DB_PREFIX="chq_"' >> /etc/php.d/support/envars
      echo 'export APP_KEY="UyIXoUsiAzvWrnfZwp1DAC50SQHuH5b2"' >> /etc/php.d/support/envars
      echo 'export APP_LOG="errorlog"' >> /etc/php.d/support/envars
      echo 'export DEBUG="false"' >> /etc/php.d/support/envars
