packages:
  yum:
    git: []
files:
#  "/etc/php.d/project.ini":
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo 'export DB_DRIVER="pgsql"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DB_HOST="postgres"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DB_PORT="5432"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DB_DATABASE="postgres"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DB_USERNAME="postgres"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DB_PASSWORD="postgres"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DB_PREFIX="chq_"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export APP_KEY="UyIXoUsiAzvWrnfZwp1DAC50SQHuH5b2"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export APP_LOG="errorlog"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DEBUG="false"' >> /opt/elasticbeanstalk/support/envvars
